
# As a GM, with a wand selected, you may reload this config at any time. Entire modules can not be loaded/unloaded
# doing this. Some options may not be able to be loaded like this. These will be marked as such.
# GM power required to be able to reload the config
reloadGMPower=4

######## Set sound timer ########
enableSoundTimer=true

# This module  slightly reworks how sounds are decided to be played
# It is used to avoid _some of the_ quick actions never playing a sound (such as sawing when you're skilled, and it
# takes less than 5 seconds)
# It makes it so a certain action's sound (made by a certain player) can be repeated
# every #sTMillis milliseconds, regardless of how long individual actions take to complete.

# The milliseconds to wait before repeating the sound again. The default 5 seconds is probably fine.
# default: 5000
sTMillis=5000

##### Adjust Render Distance ####
enableAdjustRenderDistance=true

# This module lets you adjust how far items can be seen. It was primarily made so unfinished ships don't
# disappear quickly when you move. Setting the render distance of an item that has an unfinished version also
# sets the unfinished version's render distance.
# Also note that 80 tiles seems to be the furthest items can be made visible like this. (You can set it higher, but it won't matter.)

# true:  Set unfinished items to be visible at the same range as their finished counterpart, even if a custom range
#        value was not set for them in aRDItems
# false: Unfinished items will only be visible at their finished counterpart's level if those were custom set in aRDItems
aRDAlwaysAdjustUnfinished=true

# The items to adjust.
# NOTE: the vanilla distances are 3, 8, 16, 32, 64, 128, so you might wanna use these, but don't have to
# NOTE: go to https://github.com/Tyoda/CommonTweaks/blob/master/items.txt for an item template id list
# Format: aRDItems=[TemplateId1];[Range1],[TemplateId2];[Range2],[TemplateId3];[Range3]
# example, setting the visibility of all the colossuses to 5 tiles: aRDItems=518;5,869;5,870;5,907;5,916;5
# by default it sets the visibility of the rowing boat to max, and increases that of the default tents
aRDItems=490;128,861;64,863;64,864;64
