

######## Set sound timer ########
enableSoundTimer=true

# This module  slightly reworks how sounds are decided to be played
# It is used to avoid _some of the_ quick actions never playing a sound (such as sawing when you're skilled, and it
# takes less than 5 seconds)
# It makes it so a certain action's sound (made by a certain player) can be repeated
# every #sTMillis milliseconds, regardless of how long individual actions take to complete.

# The milliseconds to wait before repeating the sound again. The default 5 seconds is probably fine.
# default: 5000
sTMillis=5000